::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
}

::-webkit-scrollbar-thumb {
    background: #FF4D00;
    border-radius: 100vh;
}